body {
    background-color: rgb(216, 213, 213);
    margin: 0px;
    padding: 0px;
}

header {
    background-color: cadetblue;
    min-height: 10vh;
    text-align: center;
    color: Black;
}

header>h1 {
    font-size: 7em;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

main {
    padding: 0px;
}

#Comidas {
    background-color: rgb(232, 224, 224);
    padding: 3%;
}

#comidas-img-1 {
    margin: 0px;
    text-align: center;
}

#comidas-img-1>img {
    width: 50vw;
    height: 40vh;
    transition: 1s;
}

#comidas-img-1>img:hover {
    width: 55vw;
    height: 45vh;
    transition: 1s;
}

#comidas-img-1>figcaption {
    font-size: 2rem;
}

#Española>h2 {
    font-size: 2rem;
    transition: 1s;
}

#Española>h2:hover {
    background-color: brown;
    transition: 1s;
}

.content-fig {
    width: 50vw;
    height: 45vh
}

#Española>ul>li {
    font-size: 2rem;
}

#paella>img {
    width: 40vw;
    height: 35vh;
}

#paella>figcaption {
    font-size: 2.5rem;
}

#China>h2 {
    font-size: 2rem;
}

#China>ul>li {
    font-size: 2rem;
}

#China>img {
    width: 40vw;
    height: 35vh;
}

#China>figcaption {
    font-size: 2.5rem;
}

footer {
    background-color: aquamarine;
    min-height: 5vh;
    text-align: center;
}

footer>address>a {
    font-size: 2em;
    color: white;
    text-transform: uppercase;
}